<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @tenant.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @tenant.last_name %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @tenant.telephone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @tenant.email_address %>
</p>

<p>
  <strong>Date of commencement:</strong>
  <%= @tenant.date_of_commencement %>
</p>

<p>
  <strong>Date of termination:</strong>
  <%= @tenant.date_of_termination %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
