<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :work_outstanding %><br>
    <%= f.check_box :work_outstanding %>
  </div>
  <div class="field">
    <%= f.label :work_outstanding_type %><br>
    <%= f.text_field :work_outstanding_type %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
   <div class="field">
    <%= f.label :landlord_id %><br>
    <%= f.number_field :landlord_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


