<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Work outstanding</th>
      <th>Landlord</th>
      <th>Tenant</th>
      <th>Work outstanding type</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.address %></td>
        <td><%= property.work_outstanding %></td>
        <td><%= property.landlord_id %></td>
        <td><%= property.tenant_id %></td>
        <td><%= property.work_outstanding_type %></td>
        <td><%= property.latitude %></td>
        <td><%= property.longitude %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
