<%stylesheet_link_tag 'styles.css.scss'%>
<%= stylesheet_link_tag '//cdn.datatables.net/1.10.3/css/jquery.dataTables.css' %>
<%= javascript_include_tag '//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js' %>
<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
  	<div class="col-xs-8" id="left">
    <h2>Property Management System</h2>
      
      <!-- item list -->
      
      
      <hr>
    <table id="property_list" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Work Outstanding</th>
                <th>Work Outstanding Type</th>
                <th>Landlord Name</th>
                <th>Tenant Name</th>
                <th>Tenant Telephone</th>
                <th>Google Map Link</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Work Outstanding</th>
                <th>Work Outstanding Type</th>
                <th>Landlord Name</th>
                <th>Tenant Name</th>
                <th>Tenant Telephone</th>
                <th>Google Map Link</th>
            </tr>
        </tfoot>
        <tbody>
        <% @properties.each do |prop| %>
       
            <tr>
                <td><%= prop.id %></td>
                <td><%= prop.address %></td>
                <td><%= prop.work_outstanding %>
                <td><%= prop.work_outstanding_type %></td>
                <td><%= prop.landlord %></td>
                <td><%= prop.tenant %></td>
                <td><%= prop.tenant_number %></td>
                <td>Insert Google Map link here</td>
            </tr>
        <% end %>

        </tbody>
    </table>
      <hr>
      
  </div>
  </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
    
  </div>
</div>
<!-- end template -->

	<!-- script references -->
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
    <%javascript_include_tag 'scripts.js' %>
    <%javascript_include_tag 'datatables.js' %>
