<%stylesheet_link_tag 'landords.css.scss'%>
<h1>Landlords Admin Panel</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Telephone number</th>
      <th>Email address</th>
      <th>Mailing address</th>
      <th>Date registered with us</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @landlords.each do |landlord| %>
      <tr>
        <td><%= landlord.first_name %></td>
        <td><%= landlord.last_name %></td>
        <td><%= landlord.telephone_number %></td>
        <td><%= landlord.email_address %></td>
        <td><%= landlord.mailing_address %></td>
        <td><%= landlord.date_registered_with_us %></td>
        <td><%= link_to 'Show', landlord %></td>
        <td><%= link_to 'Edit', edit_landlord_path(landlord) %></td>
        <td><%= link_to 'Destroy', landlord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Landlord', new_landlord_path %>
