<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @landlord.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @landlord.last_name %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @landlord.telephone_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @landlord.email_address %>
</p>

<p>
  <strong>Mailing address:</strong>
  <%= @landlord.mailing_address %>
</p>

<p>
  <strong>Date registered with us:</strong>
  <%= @landlord.date_registered_with_us %>
</p>

<%= link_to 'Edit', edit_landlord_path(@landlord) %> |
<%= link_to 'Back', landlords_path %>
